html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-shadow: inset 0 0 1rem rgb(0 0 0 / 20%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "EBGaramond";
  src: local("EBGaramond"),
    url("./fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}

/* Container */
.app-container {
  font-family: "EBGaramond";
  background-color: #f7f1df;
  border-radius: 15px;
}

/* App Introduction */
.app-introduction {
  text-align: left;
}

div.app-introduction h1.app-intro-title {
  font-size: 20px;
}

/* Generate Button */

/* Intro Photo */
img {
  height: 70%;
  width: auto;
}

/*   display: flex;
  justify-content: center;
  align-items: center; */